@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('fonts\NeueMachina\stylesheet.css');

body{
	background-color: #2B2B2B;
}
header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 12.75%;
	overflow: auto;
	float: left;
    /* width: 1600px;
    height: 640px;
    left: 90px;
    top: 70px; */
}
.site-title{
	font-family: 'Neue Machina';
	font-style: normal;
	font-weight: 800;
	font-size: 128px;
	line-height: 95.36px;
	color: #EDFB3A;
}
p{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	text-transform: lowercase;
	color: #FFFFFF;
}
.content-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 5.625%;
	margin-top: 2.96%;
	margin-right: -8.75%;
	height: 100%;
	width: 67.77%;
}
.site-title{
	flex-grow: 1;
	font-family: 'Neue Machina';
	font-style: normal;
	font-weight: 800;
	font-size: 128px;
	line-height: 95.36px;
	color: #EDFB3A;
}
.big-logo{
	width: 141px;
	height: 136px;
	max-width: 100%;
	height: auto;
	margin-top: -55%;
	margin-left: 30%;
}
.mini-logo{
	width: 50px;
	height: 50px;
	float: left;
}
.graficlogo{
	width: 100%;
	height: auto;
	object-fit: contain;
}
.topnav{
	position: relative;
	width: 391px; 
	height: 42px;
	right: inherit;
	float: right;
}
.log-button{
    width: 142px;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 100%;
    border-radius: 32px;
    border-color: #EDFB3A;
    border-style: solid;
    background: #2B2B2B;
    cursor: pointer
}
#sidebar { 
	float: left;
	width: 445px;
	height: 900px;
    background-color: #004FD2;
    padding: 20px;
    margin: 10px; 
	object-fit: contain; 
}
#mainbar { 
	width: 1155px;
	margin-left: 24%;
	object-fit: contain;
}
